﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
   background: url("../Assets/api.jpg") no-repeat center center;
   background-size: cover;
   min-height: 690px;
   }
#controlTable {
    border-right: 4px solid;
}
#tableNav {
    text-align: center;
}
