﻿<div class="row">
    <div class="col col-md-4">
        <table class="table table-hover" id="controlTable">
            <tr>
                <th id="tableNav">
                    Navigation
                </th>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-block" id="btnSchools">Show schools</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-block">Second button</button>
                </td>
            </tr>
        </table>

    </div>
    <div id="divDetails">
        @*<p id="load">Loading</p>*@
        <div id="data"></div>
        <div id="dataDetails"></div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/ui-script.js"></script>
}
